.cats{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.categorieDiv{
    width: 30%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
}

.catImage{
    width: 100%;
}

.title{
   position: absolute;
   bottom: 12%;
   left: 6%;
   color: white;
   font-size: 24px;
}

.shop{
    position: absolute;
    bottom: 7%;
    left: 6%;
    padding: 5px 15px;
    border-radius: 40px;
    background-color: white;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.shop:hover{
    background-color: gray;
}

@media screen and (max-width: 998px) {
    .categorieDiv{
        width: 45%;
    }

    .cats{
        margin-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    .categorieDiv{
        width: 90%;
        max-height: unset;
    }

    .catImage{
        object-fit: fill;
    }
}