.articlesDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    height: auto;
    background-color: rgba(241, 234, 218, 0.1);
}

.article{
    width: 30%;
    height: auto;
    background-color: #fff;
    position: relative;
    margin-bottom: 20px;
}

.imgArticle{
  width: 100%;
}

.title{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.details{
    color: #707072;
    font-size: 18px;
    margin-bottom: 0;
}

.price{
    font-size: 20px;
    font-weight: bolder;
}

.miniNav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    align-items: center;
}

.products__colorOptions {
    display: flex;
    width: fit-content;
    margin-left: 10px;
    gap: 3px;
}

.products__itemColor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
}

@media screen and (max-width: 998px) {
    .article{
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .title{
        font-size: 14px;
    }
    
    .details{
        font-size: 14px;
    }
    
    .price{
        font-size: 16px;
    }
}